body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #1f1f1f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;


}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}
.logo_white_large.png {
  width: 250px;
  height: auto;
}
.logo {
  max-width: 300px; /* ou o valor desejado */
  height: auto;
}
.logosurf{
max-width: 300px; 
  height: auto;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
  gap: 20px; /* espaço entre os itens */
  list-style: none; /* remove os marcadores da lista */
  padding: 0;
}

.menu-grid li {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.menu-grid a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }
